<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fileDetail.filename %></title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background: #000;
            color: aqua;
            display: flex;
            min-height: 100vh;
            justify-content: center;
            align-items: center;
        }
        .detail-con {
            box-shadow: 2px 2px 6px 1px ;
            padding: 20px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .details {
             display: flex;
             flex-direction: column;
             gap: 15px;
        }
        #back {
            background: #15854a;
            color: rgb(6, 6, 97);
            height: 29px;
            font-size: 100%;
        }

    </style>
</head>
<body>
    <div class="detail-con">
        <h1>Detail</h1>
        <div class="details">
            <p style="max-width: 300px;">
                <span>File Name: </span>
                <span style="color: yellow; font-style:italic"> <%= fileDetail.filename %> </span>
            </p>
            <p>
                <span>Upload Time: </span>
                <span style="color: yellow; font-style:italic"><%= fileDetail.uploadTime.toLocaleDateString() + " " + fileDetail.uploadTime.toLocaleTimeString() %></span>
            </p>
            <p>
                <span>Size: </span>
                <span style="color: yellow; font-style:italic"><%= fileDetail.size / 1000  %> KB</span>
            </p>
            <p>
                <span>Folder: </span>
                <span style="color: yellow; font-style:italic"><%= fileDetail.folder_name %> </span>
            </p>
            <p>
                <span>User: </span>
                <span style="color: yellow; font-style:italic"><%= fileDetail.username %></span>
            </p>
        </div>
        <button id="back" onclick="window.location.href = '<%= `/folder/${fileDetail.folders_id}` %>'">back</button>
    </div>
</body>
</html>